@font-face {
    font-family: 'Andale';
    src: url('AndaleMono.woff2') format('woff2'),
        url('AndaleMono.woff') format('woff'),
        url('AndaleMono.ttf') format('truetype'),
        url('AndaleMono.svg#AndaleMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
