@font-face {
    font-family: 'Yahoo';
    src: url('Yahoo.eot');
    src: url('Yahoo.eot?#iefix') format('embedded-opentype'),
        url('Yahoo.woff2') format('woff2'),
        url('Yahoo.woff') format('woff'),
        url('Yahoo.ttf') format('truetype'),
        url('Yahoo.svg#Yahoo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

