@font-face {
    font-family: 'Bauhaus 93';
    src: url('Bauhaus93.woff2') format('woff2'),
        url('Bauhaus93.woff') format('woff'),
        url('Bauhaus93.ttf') format('truetype'),
        url('Bauhaus93.svg#Bauhaus93') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

