@font-face {
    font-family: 'Round';
    src: url('Debussy.woff2') format('woff2'),
        url('Debussy.woff') format('woff'),
        url('Debussy.ttf') format('truetype'),
        url('Debussy.svg#Debussy') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

